body{
     background: #111;
     color: white;
     text-align: center;
     font-family: Arial,sans-serif;
}
 

.container {
    max-width: 500px;
    margin: 80px auto;
    border: 3px solid gold;
    padding: 20px;
}


.title  { 
       
       color: gold;
       font-size: 25px;
       margin-top: 40px;
}

h2{ color: gold;
    font-size: 30px;
}

.glow-btn{
          background: black;

          color: gold;

          padding: 12px 25px;

          border:3px solid gold;

          font-size:17px;

          cursor:pointer;

          transition: 0.3s;
}


h3 { color  :red;
    font-size: 12px;
    
   
   }


